

.my-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.my-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}



button {
   background-color: #4CAF50; /* Green */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}